################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BPWA/.vs
/BPWA/.vs/BPWA
/BPWA\.vs\BPWA\DesignTimeBuild
/BPWA/.vs/BPWA/v16
/BPWA/BPWA/obj
/BPWA/BPWA.Api/obj
/BPWA/BPWA.Api.Services/obj
/BPWA/BPWA.Core/obj
/BPWA/BPWA.DAL/obj
/BPWA/BPWA.Web.Services/obj
/BPWA/BPWA.Api/bin/Debug/netcoreapp3.1
/BPWA/BPWA.Api.Services/bin/Debug/netcoreapp3.1
/BPWA/BPWA.Core/bin/Debug/netcoreapp3.1
/BPWA/BPWA.DAL/bin/Debug/netcoreapp3.1
/BPWA/BPWA.Web/bin/Debug/netcoreapp3.1
/BPWA/BPWA.Web/obj
/BPWA/BPWA.Web.Services/bin/Debug/netcoreapp3.1
/BPWA/BPWA.Api/bin/Debug/net5.0
/BPWA/BPWA.Api.Services/bin/Debug/net5.0
/BPWA/BPWA.Core/bin/Debug/net5.0
/BPWA/BPWA.DAL/bin/Debug/net5.0
/BPWA/BPWA.Web/bin/Debug/net5.0
/BPWA/BPWA.Web.Services/bin/Debug/net5.0
/BPWA/BPWA.Common/bin/Debug/net5.0
/BPWA/BPWA.Common/obj
/BPWA/BPWA.Common/bin/Release/net5.0
/BPWA/BPWA.Core/bin/Release/net5.0
/BPWA/BPWA.DAL/bin/Release/net5.0
/BPWA/BPWA.Web/bin/Release/net5.0
/BPWA/BPWA.Web/Properties/PublishProfiles
/BPWA/BPWA.Web.Services/bin/Release/net5.0
/BPWA/BPWA.Background.Services/bin/Debug/net5.0
/BPWA/BPWA.Background.Services/obj
