<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Metronic | Error Page - 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="~/assets/app/custom/error/error-v1.default.css" rel="stylesheet" type="text/css" />

</head>
<body class="kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-error-v1" style="background-image: url(/assets/media//error/bg1.jpg);height: 100vh;">
            <div class="kt-error-v1__container">
                <h3 class="kt-error-v1__number" style="font-size: 7em;">Deactivated</h3>
                <p class="kt-error-v1__desc">
                    OOPS! Seams that your company was deactivated
                </p>
            </div>
        </div>
    </div>
</body>
</html>