@inject IViewHelperService viewHelperService
@{ Layout = null;}

@if (viewHelperService.ShowCompanySection())
{
    <li class="kt-menu__section ">
        <h4 class="kt-menu__section-text">@Translations.Company</h4>
        <i class="kt-menu__section-icon flaticon-more-v2"></i>
    </li>
}

@if (viewHelperService.ShowBusinessUnitsItem())
{
    <li class="kt-menu__item " aria-haspopup="true">
        <a asp-controller="BusinessUnits" asp-action="Index" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-grid-menu-v2"></i>
            <span class="kt-menu__link-text">@Translations.BusinessUnits</span>
        </a>
    </li>
}