@inject IViewHelperService viewHelperService
@{
    Layout = null;
}

<style>
    .kt-header__topbar {
        display: flex;
        align-items: center;
    }
</style>

<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile kt-header-menu--layout-default ">
            <ul class="kt-menu__nav ">
                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                    <div style="margin-top:12px;">
                        <breadcrumbs-nav home-action="Index" home-controller="Dashboard" home-title="@Translations.Home"></breadcrumbs-nav>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- begin:: Header Menu -->
    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
            <ul class="kt-menu__nav ">
            </ul>
        </div>
    </div>

    <!-- end:: Header Menu -->
    <!-- begin:: Header Topbar -->
    <div class="kt-header__topbar">

        @if (viewHelperService.ShowToggleCurrentCompanyItem())
        {
            <partial name="_Companies.cshtml" />
        }
        <partial name="_Notifications.cshtml" />
        <partial name="_Languages.cshtml" />
        <partial name="_Account.cshtml" />

    </div>

    <!-- end:: Header Topbar -->
</div>
<!-- end:: Header -->
