@{ Layout = null; } 

<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
    <div class="kt-footer__copyright">
        @DateTime.Now.Year &nbsp;&copy;&nbsp;BPWA
    </div>
</div>
<!-- end:: Footer -->